<div class="" data-ng-controller="HeaderController">
	<div class="welcome">
		<div class="logo">
			<a href="#!/"><img class="logo-img" src="/modules/core/img/ScheduleChomperLogoNoBlur.png"></a>
		</div>
	</div>

	<footer>
		<div class="copyright">
			<p>&copy 2015 - Schedule Chomper - www.schedulechomper.com</p>
		</div>
		<div class="social">
			<a href="#!/" class="Home"><i class="glyphicon glyphicon-home"></i></a>
			<a href="#!/about" class="aboutus">About Us</a>
			<a href="#!/contact" class="support">Contact Us</a>
			<a href="http://www.swamphacks.com" class="swamp">Swamphacks</a>
			<a href="http://www.ufl.edu" class="uf"><img class="uf-img" src="/modules/core/img/brand/uf.gif"></a>
		</div>
	</footer>

</div>
