<section class="content" data-ng-controller="HomeController">


	<div class="projects">
		<div class="row">
			<div class="col col-sm-offset-1 col-sm-10 debug">
				<div class="col col-sm-4 debug">
					<div class="col col-sm-offset-1 col-sm-10 debug">
						<div class="steps">
							<p class="step-text">Step 1</p>
							Select Courses
						</div>

						<img class="step-img" src="/modules/core/img/demo/step1.png">
					</div>

				</div>
				<div class="col col-sm-4 debug">
					<div class="col col-sm-offset-1 col-sm-10 debug">
						<div class="steps">
							<p class="step-text">Step 2</p>
							Select Filters
						</div>

						<img class="step-img" src="/modules/core/img/demo/step2.png">

					</div>
				</div>
				<div class="col col-sm-4 debug">
					<div class="col col-sm-offset-1 col-sm-10 debug">

						<div class="steps">
							<p class="step-text">Step 3</p>
							Pick Schedule
						</div>

						<img class="step-img" src="/modules/core/img/demo/step3.png">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col col-sm-offset-1 col-sm-10 debug">
				<div class="col-sm-offset-4 col col-sm-4 debug">
					<div class="col col-sm-offset-1 col-sm-10 debug">
						<br />
						<div class="button-holder">
							<div class="big-button-chomper">
								<a href="/#!/select"><button class="btn-success">Start Chomping</button></a>
							</div>
						</div>
						<br /><br />
						<br /><br />
						<br /><br />
						<br /><br />
					</div>
				</div>
			</div>
		</div>
	</div>



</section>
