.input-row {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 30px;
	position: relative;
	z-index: 1;
	text-align: center;
}


.input-row span {
	width: 80%;
	position: relative;
	display: inline-block;
	margin: 10px 2px;
}

.basic-slide {
	display: inline-block;
	width: 100%;
	padding: 10px 0 10px 15px;
	font-family: Quicksand;
	font-weight: 400;
	color: #4CAF52;
	background: #efefef;
	border: 0;
	border-radius: 3px;
	outline: 0;
	text-indent: 70px;
	transition: all .3s ease-in-out;
}
.basic-slide::-webkit-input-placeholder {
	color: #efefef;
	text-indent: 0;
	font-weight: 300;
}
.basic-slide + label {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 15px;
	text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
	background: #4CAF52;
	transition: all .3s ease-in-out;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.basic-slide:focus,
.basic-slide:active {
	color: #4ca151;
	text-indent: 0;
	background: #fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
	color: #aaa;
}
.basic-slide:focus + label,
.basic-slide:active + label {
	transform: translateX(-100%);
}


